<h1>Credits</h1>
<p>This application is a dread incantation meant to summon Yog-Slogoth from his eternal slumber at the bottom of the ocean.</P>
<p>All responsibility should be put firmly at the feet of Brendan Mackie.</p>